# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Sensitive
*.tfvars.json
*.tfvars
secret_*.tfvars
secrets.auto.tfvars
secret.tfvars.json
secret.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI / OS
.DS_Store
*.swp
*.swo

# Local IDE settings
.vscode/
.idea/