project_name = "gb"
environment  = "dev"
location     = "uksouth"

tags = {
  owner       = "gabi"
  cost_center = "lab"
}
rbac_principal_object_ids = [
  "<YOUR_USER_OBJECT_ID>",
  "<GHA_FEDERATED_SP_OBJECT_ID>"
]